<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
        emailjs.init("user_EUpbaJZihlZSemSVKNYvQ");
        })();
    </script>
    <title>Store</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: rgb(82, 82, 82);
        }
        .header{
            color: #333;
            background-image: url("/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp");
            background-color: rgb(100, 98, 98);
            padding-bottom: 10px;
            background-size: 250px;
            height: 250px;
            z-index: 9;
        }
        .title{
            color: white;
            padding-top: 30px;
            margin-left: 650px;
            padding-bottom: 40px;
            font-weight: bold;
        }
        .head{
            color: rgb(85, 85, 85);
            position: relative;
            font-family: 'Gelasio', serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Poppins', sans-serif;
        }
        .title-description{
            color: rgb(85, 85, 85);
            margin-left: 10px;
            margin-bottom: 20px;
            font-family: 'Gelasio', serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }
        .back-arrow{
            color: rgb(226, 226, 226);
            font-size: 27px;
            font-weight: bold;
            position: absolute;
            margin-left: -640px;
            padding: 10px;
            margin-top: -29px;
        }
        .back-arrow:hover{
            color: rgb(112, 112, 112);
        }
        .takis-image{
            height: 200px;
        }
        .takis{
            overflow: hidden;
            background-color: white;
            color: white;
            display: flex;
            flex-direction: column;
            border: 4px black solid;
            height: auto;
            width: auto;
            margin-left: 25px;
            align-items: center;
            justify-content: center;
        }
        .products{
            color: white;
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .takis-description{
            color: white;
            padding: 10px 5px 10px 5px;
            display: flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.534);
            width: 240px;
            position: absolute;
            margin-top: 170px;
            margin-bottom: 63px;
        }
        .takis:hover{
            border: 4px rgb(46, 46, 46) solid;
        }
        .btn-buy{
            color: white;
            background-color: green;
            border: none;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
            margin-left: 29px;
            cursor: pointer;
            width: 150px;
            height: 55px;
        }
        .btn-buy:hover{
            background-color: rgb(0, 104, 0);
        }
        .price-section{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .price{
            color: black;
            margin-left: 23px;
            font-size: 17px;
            font-weight: bold;
        }
        .crisps-description{
            color: white;
            padding: 10px 5px 10px 5px;
            display: flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.534);
            width: 237px;
            position: absolute;
            margin-top: 170px;
            margin-bottom: 63px;
        }
        .price-crisps{
            color: black;
            margin-left: 23px;
            font-size: 17px;
            font-weight: bold;
        }
        .btn-buy-crisps{
            color: white;
            background-color: green;
            border: none;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
            margin-left: 29px;
            cursor: pointer;
            width: 150px;
            height: 55px;
        }
        .btn-buy-crisps:hover{
            background-color: rgb(0, 104, 0);
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        @media (max-width: 600px) {
            .btn-buy{
                margin-left: 14px;
            }
            .btn-buy-crisps{
                margin-left: 13px;
            }
            .takis-description{
                color: white;
                max-width: 190px;
                margin-top: 170px;
                background-color: rgba(0, 0, 0, 0.24);
            }
            .crisps-description{
                width: 190px;
            }
            .header{
                width: 250vw;
            }
            .title{
                width: 400px;
                margin-left: 350px;
            }
            .title-description{
                width: 1200px;
            }
            .back-arrow{
            font-size: 27px;
            font-weight: bold;
            position: absolute;
            margin-left: -340px;
            padding: 10px;
            margin-top: -26px;
            }
            .takis{
                margin-left: 40px;
                padding: 0 100px;
                overflow: hidden;
            }
            .products{
                margin-left: 650px;
                padding-right: 670px;
            }
            .container{
                width: 290vw;
            }
            .btn-buy-pringles{
                margin-left: 3px;
            }
        }
        .invisible-bar{
            top: -100000000px;
            display: none;
        }
        .container {
            color: white;
            max-width: 1700px;
            margin: 0 auto;
            padding: 0 1.5em;
            margin-top: 140px;
            padding-bottom: 30px;
            background-color: rgba(0, 0, 0, 0.24);
        }
        .main-footer-container {
            color: white;
            display: flex;
            align-items: center;
        }
        .main-footer-container ul {
            color: white;
            flex-grow: 1;
            text-align: end;
        }
        .section-header {
            margin-bottom: 20px;
            font-family: "Metal Mania";
            font-weight: normal;
            color: white;
            text-align: center;
            font-size: 2.5em;
        }
        .cart-row {
            display: flex;
        }
        .cart-row:last-child {
            border-bottom: 1px solid black;
        }
        .cart-row:last-child .cart-column {
            border: none;
        }
        .cart-item {
            width: 45%;
        }
        .cart-item-title {
            color: rgb(255, 255, 255);
            margin-left: .5em;
            font-size: 1.2em;
        }
        .cart-item-image {
            width: 75px;
            height: auto;
            border-radius: 10px;
        }
        .cart-column {
            color: white;
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            margin-right: 1.5em;
            padding-bottom: 10px;
            margin-top: 10px;
        }
        .cart-row:last-child .cart-column {
            border: none;
        }
        .cart-price {
            width: 20%;
            font-size: 1.2em;
            color: rgb(255, 255, 255);
        }
        .cart-quantity {
            width: 100px;
            background-color: transparent;
        }
        .cart-header {
            font-weight: bold;
            font-size: 1.25em;
            color: rgb(255, 255, 255);
        }
        .cart-total {
            color: white;
            text-align: end;
            margin-top: 10px;
            margin-right: 10px;
        }
        .cart-total-title {
            font-weight: bold;
            font-size: 1.5em;
            color: rgb(255, 255, 255);
            margin-right: 20px;
        }
        .cart-total-price {
            color: rgb(255, 255, 255);
            font-size: 1.1em;
        }
        .btn-danger {
            color: white;
            background-color: #EB5757;
            border: none;
            border-radius: .3em;
            font-weight: bold;
            margin-left: 35px;
        }
        .btn-danger:hover {
            background-color: #CC4C4C;
        }
        .tour-btn {
            max-width: 19%;
        }
        .btn {
            text-align: center;
            vertical-align: middle;
            padding: .67em .67em;
            cursor: pointer;
        }

        .btn-header {
            margin: .5em 15% 2em 15%;
            color: white;
            border: 2px solid #2D9CDB;
            background-color: rgba(255, 255, 255, .1);
            border-radius: 0;
            font-size: 1.5em;
            font-weight: lighter;
            padding-left: 2em;
            padding-right: 2em;
        }

        .btn-header:hover {
            background-color: rgba(255, 255, 255, .3);
        }

        .btn-primary {
            color: white;
            background-color: green;
            border: none;
            font-weight: bold;
        }

        .btn-primary:hover {
            background-color: rgb(0, 104, 0);
        }
        .btn-buy-pringles{
            color: white;
            background-color: green;
            border: none;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
            margin-left: 29px;
            cursor: pointer;
            width: 153px;
            height: 55px;
        }
        .purchase{
            background-color: rgba(255, 255, 255, 0.555);
            width: 1200px;
            height: 1000px;
            margin-top: -200px;
            position: absolute;
            margin-left: 160px;
            z-index: 111;
            animation-name: slide;
            animation-duration: 4s;  
            animation-fill-mode: forwards;
        }
        @keyframes slide{
            from{
                top: -1960px;
            }
            to{
                top: 270px;
            }
        }
        .close-bar{
            position: absolute;
            color: #333;
            margin-top: 10px;
            margin-left: 10px;
            cursor: pointer;
        }
        .close-bar:hover{
            color: rgb(80, 80, 80);
        }
        .text{
            color: rgb(110, 110, 110);
            margin-top: -50px;
            margin-left: 50px;
            font-size: 30px;
            position: absolute;
        }
        .red-takis{
            cursor: pointer;
        }
        .red-takis-format{
            display: flex;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.555);
            margin-left: 300px;
            z-index: 2222;
            padding: 15px;
            border-radius: 20px;
            height: 600px;
        }
        .product-description{
            background-color: rgba(255, 255, 255, 0.699);
            width: 400px;
            margin-left: 20px;
            border-radius: 7px;
        }
        .product-name{
            padding: 10px;
            font-size: 35px;
            margin-left: 150px;
            font-weight: bold;
        }
        .about-product{
            margin-top: 10px;
            margin-left: 50px;
            margin-bottom: 20px;
            font-size: 25px;
        }
        .description-text{
            margin-top: 10px;
            margin-left: 20px;
            font-size: 20px;
        }
        .bag-size{
            margin-top: 10px;
            margin-left: 60px;
        }
        .small-btn{
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.692);
            border: none;
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            margin-right: 40px;
        }
        .medium-btn{
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.692);
            border: none;
            cursor: pointer;
            font-size: 17px;
            font-weight: bold;
            margin-right: 40px;
        }
        .big-btn{
            padding: 22px;
            background-color: rgba(255, 255, 255, 0.692);
            border: none;
            cursor: pointer;
            font-size: 19px;
            font-weight: bold;
        }
        .big-btn:hover{
            background-color: rgba(255, 255, 255, 0.815);
        }
        .small-btn:hover{
            background-color: rgba(255, 255, 255, 0.815);
        }
        .medium-btn:hover{
            background-color: rgba(255, 255, 255, 0.815);
        }
        .takis-image-format{
            border-radius: 3px;
            height: 520px;
        }
        .takis-image{
            cursor: pointer;
        }
        .stock{
            color: green;
            font-weight: bold;
            font-size: 15px;
            margin-top: 260px;
            margin-left: 20px;
        }
        .form-price{
            font-size: 20px;
            margin-top: -180px;
            position: absolute;
            margin-left: 25px;
            display: flex;
        }
        .price-title{
            font-size: 25px;
            font-weight: bold;
        }
        .actual-price{
            margin-left: 10px;
            padding: 4px;
        }
        .purchase-terms{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 400px;
            margin-top: 50px;
            margin-left: 30px;
        }
        #fromName{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #msg{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #street{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #email{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #country{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #city{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #zipcode{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #quantity-send{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        .send-button-unready{
            margin: 10px;
            background-color: green;
            width: 300px;
            padding-top: 30px;
            padding-bottom: 30px;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 20px;
            margin-left: 800px;
            cursor: pointer;
        }
        .send-button{
            margin: 10px;
            background-color: green;
            width: 300px;
            padding-top: 30px;
            padding-bottom: 30px;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 20px;
            margin-left: 800px;
            cursor: pointer;
        }
        .send-button:hover{
            background-color: rgb(1, 151, 1);
        }
        .title-fields{
            margin-left: 450px;
            margin-top: 30px;
            color: rgb(110, 110, 110);
        }
        #product-size{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        #phone{
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            border: none;
        }
        .error-confirm{
            color: red;
            font: 5px;
        }
    </style>            
</head>
<body>
    <header class="header">
        <div class="title">
            <h1 class="head head-custom">Community Store</h1>
            <a href="/store"><div class="back-arrow">&#x2B05</div></a>
        </div>
        <div class="title-description">
            <p class="decription-text">We are delivering just in USA and Romania</p>
            <p class="decription-text">The products can be sold at lower or higher prices.The prices are not set yet.</p>
        </div>
    </header>
    <div class="invisible-bar" id="purchase-format">
        <div class="close-bar" id="close-bar">✖</div>
        <h1 id="title-fields" class='title-fields'>Fill in the following fields</h1>
        <div id="purchase-terms" class="purchase-terms">

            <input type="text" id="fromName" placeholder="Enter your full name">
            <div id="confirm-problem-name" class="error-confirm"></div>

            <input type="email" id="email" placeholder="Enter your email">
            <div id="confirm-problem-email" class="error-confirm"></div>

            <input type="text" id="phone" placeholder="Enter your phone number">
            <div id="confirm-problem-phone" class="error-confirm"></div>

            <input type="text" id="country" placeholder="Enter your country">
            <div id="confirm-problem-country" class="error-confirm"></div>

            <input type="text" id="city" placeholder="Enter your city">
            <div id="confirm-problem-city" class="error-confirm"></div>

            <input type="text" id="street" placeholder="Enter your street">
            <div id="confirm-problem-street" class="error-confirm"></div>

            <input type="text" id="zipcode" placeholder="Enter your zipcode">
            <div id="confirm-problem-zipcode" class="error-confirm"></div>

            <input type="number" id="quantity-send" placeholder='Enter your product quantity'>
            <div id="confirm-problem-quantity" class="error-confirm"></div>

            <select id="msg" name="Select your product">
                <option value="red takis">Select your product</option>
                <option value="red takis">Snacks Mystery Box</option>
                <option value="blue takis">Candies Mystery Box</option>
                <option value="waves takis">Snacks and Candies Mystery Box</option>
            </select>
            <button id="purchase-btn-confirm" class="send-button invisible-bar" onclick="sendMail()">Purchase</button>    
            <button id="confirm-btn" onclick="confirm()" class="send-button-unready">Confirm</button>    
        </div>
        <p id="purchase-description" class="text">Shipping costs between 0-25 $ -1 $ </p>
    </div>
                                                                                    <!-- Red takis format -->
    <div class="red-takis-format invisible-bar" id="red-takis-format">
        <div class="close-bar" id="close-bar-red-takis">✖</div>
        <div class="product-view">
            <img id="normal-size-red-takis" class="takis-image-format" src="/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp">
            <div class="bag-size">
                <button id="small-btn-red-takis" class="small-btn"></button>
                <button id="medium-btn-red-takis" class="medium-btn"></button>
                <button id="large-btn-red-takis" class="big-btn"></button>    
            </div>
        </div>
        <div class="product-description">
            <h2 class="product-name">Snacks Mystery Box</h2>
            <h3 class="about-product">Description</h3>
            <p class="description-text">• 10 random snacks</p>
            <p class="stock">In stock</p>
            <div class="form-price"><p class="price-title">Price:</p> <p id="form-price-red-takis" class="actual-price"> $30.00</p></div>
        </div>
    </div>
                                                                                    <!-- Blue takis format -->
    <div class="red-takis-format invisible-bar" id="blue-takis-format">
        <div class="close-bar" id="close-bar-blue-takis">✖</div>
        <div class="product-view">
            <img id="normal-size-blue-takis" class="takis-image-format" src="/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp">
            <div class="bag-size">
                <button id="small-btn-blue-takis" class="small-btn"></button>
                <button id="medium-btn-blue-takis" class="medium-btn"></button>
                <button id="large-btn-blue-takis" class="big-btn"></button>    
            </div>
        </div>
        <div class="product-description">
            <h2 class="product-name">Candies Mystery Box</h2>
            <h3 class="about-product">Description</h3>
            <p class="description-text">• 10 random candies</p>
            <p class="stock">In stock</p>
            <div class="form-price"><p class="price-title">Price:</p> <p id="form-price-blue-takis" class="actual-price"> $27.50</p></div>
        </div>
    </div>
                                                                                    <!-- Waves Takis format -->
    <div class="red-takis-format invisible-bar" id="waves-takis-format">
        <div class="close-bar" id="close-bar-waves-takis">✖</div>
        <div class="product-view">
            <img id="normal-size-waves-takis" class="takis-image-format" src="/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp">
            <div class="bag-size">
                <button id="medium-btn-waves-takis" class="medium-btn"></button>
            </div>
        </div>
        <div class="product-description">
            <h2 class="product-name">Snacks and Candies Mystery Box</h2>
            <h3 class="about-product">Description</h3>
            <p class="description-text">• 10 random snacks and candies</p>
            <p class="stock">In stock</p>
            <div class="form-price"><p class="price-title">Price:</p> <p id="form-price-waves-takis" class="actual-price"> $37.25</p></div>
        </div>
    </div>

    <h1 class="title">Mystery Boxes</h1>
    <div class="products">
        <div class="takis shop-item">
            <img  id="red-takis" class="takis-image shop-item-image" src="/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp">
            <p class="takis-description shop-item-title">Snacks Mystery Box</p>
            <div class="price-section shop-item-details">
                <p id="red-takis-price" class="price shop-item-price">$30.00</p>
                <button class="btn-buy btn-buy btn btn-primary shop-item-button" id="btn-buy-red-takis">ADD TO CART</button>
            </div>
        </div>
        <div class="takis shop-item">
            <img id="blue-takis" class="takis-image shop-item-image" src="/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp">
            <p class="takis-description shop-item-title">Candies Mystery Box</p>
            <div class="price-section shop-item-details">
                <p id="blue-takis-price" class="price shop-item-price">$27.50</p>
                    <button class="btn-buy btn-buy btn btn-primary shop-item-button" id="btn-buy-blue-takis">ADD TO CART</button>
                </form>
            </div>
        </div>
        <div class="takis shop-item">
            <img id="waves-takis" class="takis-image shop-item-image" src="/images/res_f633b00bed90b880fc0a6f6d5bfb792f.webp">
            <p class="takis-description shop-item-title">Snacks and Candies Mystery Box</p>
            <div class="price-section shop-item-details">
                <p id="waves-takis-price" class="price shop-item-price">$37.25</p>
                <button class="btn-buy btn-buy btn btn-primary shop-item-button" id="btn-buy-waves-takis">ADD TO CART</button>
            </div>
        </div>
    </div>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">Item</span>
            <span class="cart-price cart-header cart-column">Price</span>
            <span class="cart-quantity cart-header cart-column">Quantity</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">Purchase</button>
    </section>

</body>
<script>
    const purchaseForm = document.getElementById("purchase-format")
    const closeFormat = document.getElementById("close-bar")
    const purchaseDescription = document.getElementById("purchase-description")
    const purchaseTermsFormat = document.getElementById("purchase-terms")
    const purchaseTermsTitle = document.getElementById("title-fields")

                                                                                                                //Red Takis Parts
    const largeSizeRedTakisImage = document.getElementById("large-size-red-takis")
    const smallSizeRedTakisImage = document.getElementById("small-size-red-takis")
    const normalSizeRedTakisImage = document.getElementById("normal-size-red-takis")
    const redTakisFormat = document.getElementById("red-takis-format")
    const redTakis = document.getElementById("red-takis")
    const closeRedTakisFormat = document.getElementById("close-bar-red-takis")
    const redTakisPrice = document.getElementById("red-takis-price")
    const mediumRedTakis = document.getElementById("medium-btn-red-takis")
    const largeRedTakis = document.getElementById("large-btn-red-takis")
    const smallRedTakis = document.getElementById("small-btn-red-takis")
    const smallTakis = document.getElementById("small-red-takis")
    const largeTakis = document.getElementById("large-red-takis")
    const redTakisFormPrice = document.getElementById("form-price-red-takis")

                                                                                                                //Blue Takis Parts
    const blueTakisFormat = document.getElementById("blue-takis-format")
    const closeBlueTakisFormat = document.getElementById("close-bar-blue-takis")
    const normalSizeBlueTakisImage = document.getElementById("normal-size-blue-takis")
    const smallSizeBlueTakisImage = document.getElementById("small-size-blue-takis")
    const largeSizeBlueTakisImage = document.getElementById("large-size-blue-takis")
    const mediumBlueTakis = document.getElementById("medium-btn-blue-takis")
    const largeBtnBlueTakis = document.getElementById("large-btn-blue-takis")
    const smallBtnBlueTakis = document.getElementById("small-btn-blue-takis")
    const smallBlueTakis = document.getElementById("small-blue-takis")
    const largeBlueTakis = document.getElementById("large-blue-takis")
    const blueTakis = document.getElementById("blue-takis")
    const blueTakisPrice = document.getElementById("blue-takis-price")
    const blueTakisFormPrice = document.getElementById("form-price-blue-takis")

                                                                                                                    //Waves Takis Parts
    const wavesTakisFormat = document.getElementById("waves-takis-format")
    const closeWavesTakisFormat = document.getElementById("close-bar-waves-takis")
    const normalSizeWavesTakisImage = document.getElementById("normal-size-waves-takis")
    const smallSizeWavesTakisImage = document.getElementById("small-size-waves-takis")
    const largeSizeWavesTakisImage = document.getElementById("large-size-waves-takis")
    const mediumWavesTakis = document.getElementById("medium-btn-waves-takis")
    const largeBtnWavesTakis = document.getElementById("large-btn-waves-takis")
    const smallBtnWavesTakis = document.getElementById("small-btn-waves-takis")
    const smallWavesTakis = document.getElementById("small-waves-takis")
    const largeWavesTakis = document.getElementById("large-waves-takis")
    const wavesTakis = document.getElementById("waves-takis")
    const wavesTakisPrice = document.getElementById("waves-takis-price")
    const wavesTakisFormPrice = document.getElementById("form-price-waves-takis")

                                                                                                                        //Checking Purchase Parts
    const fromName = document.getElementById("fromName")
    const email = document.getElementById("email")
    const phoneNumber = document.getElementById("phone")
    const country = document.getElementById("country")
    const city = document.getElementById("city")
    const street = document.getElementById("street")
    const zipcode = document.getElementById("zipcode")
    const quantity = document.getElementById("quantity-send")
    const purchaseBtnConfirm = document.getElementById("purchase-btn-confirm")

    const confirmBtn = document.getElementById("confirm-btn")
    const confirmProblemName = document.getElementById("confirm-problem-name")
    const confirmProblemEmail = document.getElementById("confirm-problem-email")
    const confirmProblemPhone = document.getElementById("confirm-problem-phone")
    const confirmProblemCountry = document.getElementById("confirm-problem-country")
    const confirmProblemCity = document.getElementById("confirm-problem-city")
    const confirmProblemStreet = document.getElementById("confirm-problem-street")
    const confirmProblemZipcode = document.getElementById("confirm-problem-zipcode")
    const confirmProblemQuantity = document.getElementById("confirm-problem-quantity")


    if (document.readyState == 'loading') {
    document.addEventListener('DOMContentLoaded', ready)
} else {
    ready()
}

const validateEmail = function(email) {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase())
}

                                                                                                                        //Checking purchase events
function confirm(){

    const validFields ={
        fromName: false,
        email: false,
        phoneNumber: false,
        country: false,
        city: false,
        street: false,
        zipcode: false,
        quantity: false,
    }

    if(fromName.value === ''){
        confirmProblemName.innerHTML= 'You must complete the fields'
        validFields.fromName = false
    }else if(fromName.value.length < 2){
        confirmProblemName.innerHTML= 'The field must have at least 3 characters'
        validFields.fromName = false
    }else{
        confirmProblemName.innerHTML= ''
        validFields.fromName = true
    }

    if(email.value === ''){
        confirmProblemEmail.innerHTML= 'You must complete the fields'
        validFields.email = false
    }else if(!validateEmail(email.value)){
        confirmProblemEmail.innerHTML= 'Email address is incorrect'
        validFields.email = false
    }else{
        confirmProblemEmail.innerHTML= ''
        validFields.email = true
    }

    if(country.value === ''){
        confirmProblemCountry.innerHTML= 'You must complete the fields'
        validFields.country = false
    }else{
        confirmProblemCountry.innerHTML= ''
        validFields.country = true
    }

    if(phoneNumber.value === ''){
        confirmProblemPhone.innerHTML= 'You must complete the fields'
        validFields.phoneNumber = false
    }else if(isNaN(phoneNumber.value)){
        validFields.phoneNumber = false
        confirmProblemPhone.innerHTML= 'The field must have numbers'
    }else{
        confirmProblemPhone.innerHTML= ''
        validFields.phoneNumber = true
    }

    if(city.value === ''){
        confirmProblemCity.innerHTML= 'You must complete the fields'
        validFields.city = false
    }else{
        confirmProblemCity.innerHTML= ''
        validFields.city = true
    }

    if(street.value === ''){
        confirmProblemStreet.innerHTML= 'You must complete the fields'
        validFields.street = false
    }else{
        confirmProblemStreet.innerHTML= ''
        validFields.street = true
    }

    if(zipcode.value === ''){
        confirmProblemZipcode.innerHTML= 'You must complete the fields'
        validFields.zipcode = false
    }else{
        confirmProblemZipcode.innerHTML= ''
        validFields.zipcode = true
    }

    if(quantity.value === ''){
        confirmProblemQuantity.innerHTML= 'You must complete the fields'
        validFields.quantity = false
    }else{
        confirmProblemQuantity.innerHTML= ''
        validFields.quantity = true
    }

    if(validFields.fromName === true, validFields.email === true, validFields.phoneNumber === true, validFields.country === true, validFields.city === true, validFields.zipcode === true, validFields.street === true, validFields.quantity === true){
        purchaseBtnConfirm.classList.remove("invisible-bar")
        confirmBtn.classList.add("invisible-bar")
    }
}

function sendMail(params){
    var tempParams = {
        from_name: document.getElementById("fromName").value,
        message: document.getElementById("msg").value,
        email: document.getElementById("email").value,
        quantity: document.getElementById("quantity-send").value,
        location:[document.getElementById("country").value,
                    document.getElementById("city").value,
                    document.getElementById("street").value,
                ],
        zipcode: document.getElementById("zipcode").value,
        size: document.getElementById("product-size").value,
        number: document.getElementById("phone").value
    }

    emailjs.send('service_yjc95sq', 'template_dglp702', tempParams).then(function(res){
        console.log("success", res.status)
    })
}


function ready() {
    var removeCartItemButtons = document.getElementsByClassName('btn-danger')
    for (var i = 0; i < removeCartItemButtons.length; i++) {
        var button = removeCartItemButtons[i]
        button.addEventListener('click', removeCartItem)
    }

                                                                                                                // Red Takis Events
    closeRedTakisFormat.addEventListener("click", ()=>{
        redTakisFormat.classList.add("invisible-bar")
    })
    redTakis.addEventListener("click", ()=>{
        redTakisFormat.classList.remove("invisible-bar")
    })

    redTakis.addEventListener("click", ()=>{
        redTakisFormat.classList.remove("invisible-bar")
    })

    mediumRedTakis.addEventListener("click", ()=>{
        largeSizeRedTakisImage.classList.add("invisible-bar")
        redTakisPrice.innerHTML= '' + '$' + 30.00 + '0';
        redTakisFormPrice.innerHTML = '' + '$' + 30.00 + '0'
        normalSizeRedTakisImage.classList.remove("invisible-bar")
        smallSizeRedTakisImage.classList.add("invisible-bar")
        smallTakis.classList.add("invisible-bar")
        redTakis.classList.remove("invisible-bar")
        redTakis.classList.add("shop-item-image")
        largeTakis.classList.remove("shop-item-image")
        largeTakis.classList.add("invisible-bar")
        smallTakis.classList.remove("shop-item-image")
    })

                                                                                                            // Blue Takis Events
    closeBlueTakisFormat.addEventListener("click", ()=>{
        blueTakisFormat.classList.add("invisible-bar")
    })

    blueTakis.addEventListener("click", ()=>{
        blueTakisFormat.classList.remove("invisible-bar")
    })

    blueTakis.addEventListener("click", ()=>{
        blueTakisFormat.classList.remove("invisible-bar")
    })

    mediumBlueTakis.addEventListener("click", ()=>{
        largeSizeBlueTakisImage.classList.add("invisible-bar")
        blueTakisPrice.innerHTML= '$' + 27.50 + '.00';
        blueTakisFormPrice.innerHTML = '' + '$' + 27.50 + '0'
        normalSizeBlueTakisImage.classList.remove("invisible-bar")
        smallSizeBlueTakisImage.classList.add("invisible-bar")
        smallBlueTakis.classList.add("invisible-bar")
        blueTakis.classList.remove("invisible-bar")
        blueTakis.classList.add("shop-item-image")
        largeBlueTakis.classList.remove("shop-item-image")
        largeBlueTakis.classList.add("invisible-bar")
        smallBlueTakis.classList.remove("shop-item-image")
    })

                                                                                                                // Waves Takis Events
    closeWavesTakisFormat.addEventListener("click", ()=>{
        wavesTakisFormat.classList.add("invisible-bar")
    })

    wavesTakis.addEventListener("click", ()=>{
        wavesTakisFormat.classList.remove("invisible-bar")
    })

    wavesTakis.addEventListener("click", ()=>{
        wavesTakisFormat.classList.remove("invisible-bar")
    })

    mediumWavesTakis.addEventListener("click", ()=>{
        largeSizeWavesTakisImage.classList.add("invisible-bar")
        wavesTakisPrice.innerHTML= '$' + 37.25 + '.00';
        wavesTakisFormPrice.innerHTML = '' + '$' + 37.25 + '0'
        normalSizeWavesTakisImage.classList.remove("invisible-bar")
        smallSizeWavesTakisImage.classList.add("invisible-bar")
        smallWavesTakis.classList.add("invisible-bar")
        wavesTakis.classList.remove("invisible-bar")
        wavesTakis.classList.add("shop-item-image")
        largeWavesTakis.classList.remove("shop-item-image")
        largeWavesTakis.classList.add("invisible-bar")
        smallWavesTakis.classList.remove("shop-item-image")
    })

                                                                                                //Add to cart Events
    var quantityInputs = document.getElementsByClassName('cart-quantity-input')
    for (var i = 0; i < quantityInputs.length; i++) {
        var input = quantityInputs[i]
        input.addEventListener('change', quantityChanged)
    }

    var addToCartButtons = document.getElementsByClassName('shop-item-button')
    for (var i = 0; i < addToCartButtons.length; i++) {
        var button = addToCartButtons[i]
        button.addEventListener('click', addToCartClicked)
    }

    document.getElementsByClassName('btn-purchase')[0].addEventListener('click', purchaseClicked)
}

    closeFormat.addEventListener("click", ()=>{
        purchaseForm.classList.remove("purchase")
        closeFormat.classList.add("invisible-bar")
        purchaseTermsFormat.classList.add("invisible-bar")
        purchaseTermsFormat.classList.remove("purchase-terms")
        purchaseDescription.classList.add("invisible-bar")
        purchaseTermsTitle.classList.add("invisible-bar")
        purchaseTermsTitle.classList.remove("title-fields")
    })

function purchaseClicked() {
    purchaseTermsFormat.classList.remove("invisible-bar")
    purchaseTermsFormat.classList.add("purchase-terms")
    purchaseDescription.classList.remove("invisible-bar")
    purchaseTermsTitle.classList.remove("invisible-bar")
    purchaseTermsTitle.classList.add("title-fields")

    alert('Thank you for your purchase')
    purchaseForm.classList.add("purchase")
    purchaseForm.classList.remove("invisible-bar")
    closeFormat.classList.remove("invisible-bar")
    purchaseDescription.classList.remove("invisible-bar")
    var cartItems = document.getElementsByClassName('cart-items')[0]
    while (cartItems.hasChildNodes()) {
        cartItems.removeChild(cartItems.firstChild)
    }
    updateCartTotal()
}

function removeCartItem(event) {
    var buttonClicked = event.target
    buttonClicked.parentElement.parentElement.remove()
    updateCartTotal()
}

function quantityChanged(event) {
    var input = event.target
    if (isNaN(input.value) || input.value <= 0) {
        input.value = 1
    }
    updateCartTotal()
}

function addToCartClicked(event) {
    var button = event.target
    var shopItem = button.parentElement.parentElement
    var title = shopItem.getElementsByClassName('shop-item-title')[0].innerText
    var price = shopItem.getElementsByClassName('shop-item-price')[0].innerText
    var imageSrc = shopItem.getElementsByClassName('shop-item-image')[0].src
    addItemToCart(title, price, imageSrc)
    updateCartTotal()
}

function addItemToCart(title, price, imageSrc) {
    var cartRow = document.createElement('div')
    cartRow.classList.add('cart-row')
    var cartItems = document.getElementsByClassName('cart-items')[0]
    var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
    for (var i = 0; i < cartItemNames.length; i++) {
        if (cartItemNames[i].innerText == title) {
            alert('This item is already added to the cart')
            return
        }
    }
    var cartRowContents = `
        <div class="cart-item cart-column">
            <img class="cart-item-image" src="${imageSrc}" width="100" height="100">
            <span class="cart-item-title">${title}</span>
        </div>
        <span class="cart-price cart-column">${price}</span>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="1">
            <button class="btn btn-danger" type="button">REMOVE</button>
        </div>`
    cartRow.innerHTML = cartRowContents
    cartItems.append(cartRow)
    cartRow.getElementsByClassName('btn-danger')[0].addEventListener('click', removeCartItem)
    cartRow.getElementsByClassName('cart-quantity-input')[0].addEventListener('change', quantityChanged)
}

function updateCartTotal() {
    var cartItemContainer = document.getElementsByClassName('cart-items')[0]
    var cartRows = cartItemContainer.getElementsByClassName('cart-row')
    var total = 0
    for (var i = 0; i < cartRows.length; i++) {
        var cartRow = cartRows[i]
        var priceElement = cartRow.getElementsByClassName('cart-price')[0]
        const quantityElement = cartRow.getElementsByClassName('cart-quantity-input')[0]
        var price = parseFloat(priceElement.innerText.replace('$', ''))
        const quantity = quantityElement.value
        total = total + (price * quantity)
    }
    total = Math.round(total * 100) / 100
    document.getElementsByClassName('cart-total-price')[0].innerText = '$' + total
}
</script>
</html>